<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <title>Info Zika y Dengue</title>

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Load 3D charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Dengue',     627],
            ['Zika',      34]
          ]);

          var options = {
            title: 'Casos de Dengue y Zika en toda la Argentina',
            is3D: true,
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
          chart.draw(data, options);
        }
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Buenos Aires',     11],
            ['CABA',     11],
            ['Chaco',     11],
            ['Cordoba',     11],
            ['Corrientes',     11],
            ['Entre Rios',     11],
            ['Formosa',     11],
            ['Misiones',     11],
            ['Salta',     11],
            ['Santa Fe',     11],
            ['Tucuman',     11],
            ['Santiago del Estero',     11]
          ]);

          var options = {
            title: 'Casos de Dengue y Zika por provincias',
            is3D: true,
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_1'));
          chart.draw(data, options);
        }
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['La Matanza',     11],
            ['Lanus',      2],
            ['Lomas de Zamora',      5]
          ]);

          var options = {
            title: 'Casos de Dengue y Zika por Localidades',
            is3D: true,
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_2'));
          chart.draw(data, options);
        }
  </script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript" src="lss.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!-- main Row -->
  <div class="row">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 bar"></div>

        <div class="col-sm-12 text-center header">
          <h1>CASOS DE DENGUE Y ZIKA EN LA REPUBLICA ARGENTINA</h1>
          <p><h4>Datos obtenidos del Ministerio de Salud y Desarrollo Social. Secretaría de Promoción de la Salud, Prevención y Control de Riesgos. Subsecretaría de Prevención y Control de Enfermedades Comunicables e Inmunoprevenibles. Dirección Nacional de Epidemiología y Análisis de la Situación de Salud. Área de Vigilancia.</h4></p>
        </div>

        <div class="col-sm-12 bar">          
        </div>

        <hr> <!-- end section -->

        <div class="row">
          <div class="col">
            <!-- Some text here -->
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="text-center">Provincias afectadas</h3>
            <div class="div-prov-loc">
              <ul class="list-group">
                <!-- <li class="list-group-item">Cras justo odio</li> -->
                <%for(let i=0; i<provincias.length; i++) {%>
                <li class="list-group-item"> <%= provincias[i] %> </li>
                <%}%>
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <h3 class="text-center">Localidades afectadas</h3>
            <div class="div-prov-loc">
              <ul class="list-group">
                <!-- <li class="list-group-item">Cras justo odio</li> -->
                <%for(let i=0; i<departamentos.length; i++) {%>
                <li class="list-group-item"> <%= departamentos[i] %> </li>
                <%}%>                
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-md-3 totales">
            Casos totales de Dengue: <%=dengue %>
          </div>

          <div class="col-sm-12 col-md-3 totales">
            Casos totales de Zika: <%=zika %>
          </div>

        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12 col-md-4" id="piechart_3d" style="width: 100%; height: 300px">
             <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> -->
          </div>
          <div class="col-sm-12 col-md-4" id="piechart_3d_1" style="width: 100%; height: 300px"></div>
          <div class="col-sm-12 col-md-4" id="piechart_3d_2" style="width: 100%; height: 300px"></div>
        </div>

        <hr>

         <div class="row">
          <div class="col-sm-12">
            <div id="map"></div>
          </div>
        </div>

        <hr>


        <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h3 class="text-center">Contacto - Sugerencias</h4>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="exampleInputName2">Nombre</label>
                      <input type="text" class="form-control" id="exampleInputName2" placeholder="Juan">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail2">Correo</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="micorreo@ejemplo.com">
                    </div>
                    <div class="form-group ">
                      <label for="exampleInputText">Mensaje</label>
                     <textarea  class="form-control" placeholder="Algun mensaje por aqui"></textarea> 
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                  </form>
                  <br><br>
        </div>



        <div class="col-sm-12 bar">
          
        </div>

    </div> <!-- end main row -->

  </div>
  <!-- end main Row -->
  <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var argentina = {lat: -32, lng: -64};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 5, center: argentina});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: argentina, map: map});
      }
  </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVLrCMa-XmuVYPDsQqGn8Veantsp1w8bc&callback=initMap">
    </script>
</body>
</html>