<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <title>Info Zika y Dengue</title>

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!-- main Row -->
  <div class="row">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 bar"></div>

        <div class="col-sm-12 text-center header">
          <h1>CASOS DE DENGUE Y ZIKA EN LA REPUBLICA ARGENTINA</h1>
          <p><h4>Datos obtenidos del Ministerio de Salud y Desarrollo Social. Secretaría de Promoción de la Salud, Prevención y Control de Riesgos. Subsecretaría de Prevención y Control de Enfermedades Comunicables e Inmunoprevenibles. Dirección Nacional de Epidemiología y Análisis de la Situación de Salud. Área de Vigilancia.</h4></p>
          <hr>
          <div>
            <img src="./img/cruz.png" alt="cruz" class="cruz">
          </div>
        </div>

        <div class="col-sm-12 bar">          
        </div>

        <hr> <!-- end section -->

        <div class="row">
          <div class="col">
            <!-- Some text here -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="text-center">Provincias afectadas</h3>
            <div class="div-prov-loc">
              <ul class="list-group" id="ul-id-prov">
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <h3 class="text-center">Localidades afectadas</h3>
            <div class="div-prov-loc">
              <ul class="list-group-loc" id="ul-id-deps">
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-md-3 totales" id="total-dengue">
            
          </div>

          <div class="col-sm-12 col-md-3 totales" id="total-zika">
            
          </div>

        </div>
        <!--
        <hr>

        <div class="row">
          <div class="col-sm-12 col-md-4" id="piechart_3d" style="width: 100%; height: 300px">
             <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
          </div>
          <div class="col-sm-12 col-md-4" id="piechart_3d_1" style="width: 100%; height: 300px"></div>
          <div class="col-sm-12 col-md-4" id="piechart_3d_2" style="width: 100%; height: 300px"></div>
        </div>
        -->
        <hr>

        <div class="row">
          <div class="col-sm-12">
            <div id="map"></div>
          </div>
        </div>

        <hr>


        <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h3 class="text-center">Contacto - Sugerencias</h4>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="exampleInputName2">Nombre</label>
                      <input type="text" class="form-control" id="exampleInputName2" placeholder="Manuel">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail2">Correo</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="micorreo@ejemplo.com">
                    </div>
                    <div class="form-group ">
                      <label for="exampleInputText">Mensaje</label>
                     <textarea  class="form-control" placeholder="Algun mensaje por aqui"></textarea> 
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                  </form>
                  <br><br>
        </div>



        <div class="col-sm-12 bar">
          
        </div>

    </div> <!-- end main row -->

  </div>
  <!-- end main Row -->

  <script>
      $.ajaxSetup({ async: false });
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var argentina = {lat: -32, lng: -64};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 5, center: argentina});
        // The marker, positioned at Uluru
        var provinces = $.getJSON('/api/provinces').responseJSON.provinces;
        var provs_country = [];
        var provs_coords = [];

        for(let i=0; i<provinces.length; i++) {
          provs_country.push(provinces[i] + ', Argentina');
        }
        API_KEY = "AIzaSyB-1VoMt3SNSzzSx1rxHLnIjaDr4tQUQyk";

        for(let i=0; i<provinces.length; i++) {
          let LOCATION = provs_country[i];
          url_api = `https://maps.googleapis.com/maps/api/geocode/json?address=${LOCATION}&key=${API_KEY}`;
          
          let position = $.getJSON(url_api).responseJSON.results[0].geometry.location;
          provs_coords.push(position);
        }

        for(let i=0; i<provs_coords.length; i++) {
          var marker = new google.maps.Marker({position: provs_coords[i], map: map});
        }

        // var marker = new google.maps.Marker({position: argentina, map: map});
      }
  </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVLrCMa-XmuVYPDsQqGn8Veantsp1w8bc&callback=initMap">
  </script>

  <script>
    $.ajaxSetup({ async: false });
    var totalDengue = $.getJSON('api/total_dengue').responseJSON.totalDengue;
    var totalZika = $.getJSON('api/total_zika').responseJSON.totalZika;
    var provinces = $.getJSON('api/provinces').responseJSON.provinces;
    var departaments = $.getJSON('api/departaments').responseJSON.departaments;

    var ul_prov = document.getElementById('ul-id-prov');
    var ul_deps = document.getElementById('ul-id-deps');
    
    var dengue_total = document.getElementById('total-dengue');
    var nodeTotalDengue = document.createElement('p');
    var elemTotalDengue = document.createTextNode('Total casos de Dengue: ' + totalDengue);
    nodeTotalDengue.appendChild(elemTotalDengue);
    dengue_total.appendChild(nodeTotalDengue);

    var zika_total = document.getElementById('total-zika');
    var nodeTotalZika = document.createElement('p');
    var elemTotalZika = document.createTextNode('Total casos de Zika: ' + totalZika);
    nodeTotalZika.appendChild(elemTotalZika);
    zika_total.appendChild(nodeTotalZika);

    var exec = (ele) => {
      alert('Alert ' + ele);
    }

    for(let i=0; i<departaments.length; i++) {
      let node = document.createElement('li');
      let new_elem = document.createTextNode(departaments[i]);
      node.setAttribute('id', departaments[i]);
      node.appendChild(new_elem);
      node.addEventListener('click', () => {
        API_KEY = 'AIzaSyB-1VoMt3SNSzzSx1rxHLnIjaDr4tQUQyk';
        LOCATION = 'Jujuy, AR'
        // url_api = "https://maps.googleapis.com/maps/api/geocode/json?address=Jujuy,+AR&key=AIzaSyB-1VoMt3SNSzzSx1rxHLnIjaDr4tQUQyk"
        var coords = $.get(url_api);
        console.log(coords);
      });
      document.getElementById('ul-id-deps').appendChild(node);
      document.getElementById('ul-id-deps').setAttribute('class', 'list-group-item');
    }

    for(let i=0; i<provinces.length; i++) {
      let node = document.createElement('li');
      let new_elem = document.createTextNode(provinces[i]);
      node.setAttribute('id', provinces[i]);
      node.appendChild(new_elem);
      document.getElementById('ul-id-prov').appendChild(node);
      document.getElementById('ul-id-prov').setAttribute('class', 'list-group-item');
    }

  </script>

</body>
</html>