<div class="row">
  <div class="container">
    <div class="">
      <h3>Contacto</h3>
    </div>
    <div class="form">
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Tu nombre aqui..."
            required
            oninvalid="this.setCustomValidity('Por favor dejanos saber como te llamas')"
            oninput="this.setCustomValidity('')">
          </div>
        </div>
        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label">Asunto</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="subject" placeholder="Asunto aqui..."
            required
            oninvalid="this.setCustomValidity('El asunto tambien va')"
            oninput="this.setCustomValidity('')">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Correo</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Tu correo aqui..."
            required
            oninvalid="this.setCustomValidity('El correo no es valido')"
            oninput="this.setCustomValidity('')">
          </div>
        </div>
        <div class="form-group row">
          <label for="comentario" class="col-sm-2 col-form-label">Comentario</label>
          <div class="col-sm-10">
            <textarea class="form-control textarea-form" id="comentario"
            required
            oninvalid="this.setCustomValidity('Dejanos tu mensaje!')"
            oninput="this.setCustomValidity('')">
            </textarea>
          </div>
        </div>
        <div class="form-group float-right">
          <button type="submit" class="btn btn-dark">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>