<div class="row">
  <div class="col">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Departamento</th>
          <th scope="col">Zika</th>
          <th scope="col">Dengue</th>
        </tr>
      </thead>
      <tbody>
        <% deps.map((dep, key) => { %>
          <tr>
            <th scope="row"><%= key+1 %></th>
              <td>
                <a>
                  <%= dep %>
                </a>
              </td>
            <td>
              <span class="badge badge-primary badge-pill">
                0 casos
              </span>
            </td>
            <td>
              <span class="badge badge-warning badge-pill">
                0 casos
              </span>
            </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>
</div>