<div class="container header">
  <div class="">
    <div class="row">
      <div class="col title-and-description">
        <h2 class="title">CASOS DE DENGUE Y ZIKA EN LA REPUBLICA ARGENTINA</h2>
        <p class="">
          <h4 class="description">Datos obtenidos del Ministerio de Salud y Desarrollo Social. Secretaría de Promoción de la Salud, Prevención y Control de Riesgos. Subsecretaría de Prevención y Control de Enfermedades Comunicables e Inmunoprevenibles. Dirección Nacional de Epidemiología y Análisis de la Situación de Salud. Área de Vigilancia.</h4>
        </p>
      </div>
    </div>
    <hr>
    <div class="cruz-container">
      <div class="">
        <img src="./img/cruz.png" alt="cruz" class="cruz">
      </div>
    </div>
  </div>
</div>