<div class="col-sm-12 text-center header">
  <div>
  </div>
  <h1>CASOS DE DENGUE Y ZIKA EN LA REPUBLICA ARGENTINA</h1>
  <p><h4>Datos obtenidos del Ministerio de Salud y Desarrollo Social. Secretaría de Promoción de la Salud, Prevención y Control de Riesgos. Subsecretaría de Prevención y Control de Enfermedades Comunicables e Inmunoprevenibles. Dirección Nacional de Epidemiología y Análisis de la Situación de Salud. Área de Vigilancia.</h4></p>
  <hr>
  <div>
    <img src="./img/cruz.png" alt="cruz" class="cruz">
  </div>
</div>